<ion-header>
  <ion-toolbar>
    <ion-title>Wyszukiwarka</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">
    <label class="searchLabel">Wyszukaj:</label><input (keyup)="checkList()" [(ngModel)]="searchInput"
                                                       class="searchText"
                                                       type="text">
    <div style="overflow-y: auto;height: calc(100% - 45px)">
      <ion-item-divider class="searchListTitle">
        <div style="position: relative; width: 100%">
          <ion-label>
            Elementy2:
            <ion-toggle [(ngModel)]="displayElements" color="primary"
                        style="position: absolute;  top:-10px;right:6px"></ion-toggle>
          </ion-label>
        </div>
      </ion-item-divider>
      <ion-list *ngIf="displayElements">
        <ion-item (click)="goToElement(element.id)" *ngFor="let element of findList" class="searchList">
          <ion-label>{{element.nazwa}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-item-divider>
        <div style="position: relative;width: 100%">
          <ion-label>
            Miejsca:
            <ion-toggle [(ngModel)]="displayPlaces" color="primary"
                        style="position: absolute;  top:-10px;right: 6px"></ion-toggle>
          </ion-label>
        </div>
      </ion-item-divider>
      <ion-list *ngIf="displayPlaces">
        <ion-item (click)="goToPlace(place.id)" *ngFor="let place of findListPlace" class="searchList">
          <ion-label>{{place.nazwa}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
