<ion-header>
  <ion-toolbar>
    <ion-title>Wyszukiwarka</ion-title>
  </ion-toolbar>
</ion-header>
<ion-footer>
  <ion-tab-button (click)="_footer.getInfo()">
    <ion-icon name="eye-outline"></ion-icon>
    <ion-label>Zbadaj</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="_footer.tologOut()">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Wyloguj</ion-label>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>Informacje</ion-label>
  </ion-tab-button>

</ion-footer>

<ion-content>

</ion-content>
