<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="mode=='element'">Informacje na temat elementu:</ion-title>
    <ion-title *ngIf="mode=='miejsca'">Informacje na temat miejsca:</ion-title>
  </ion-toolbar>
</ion-header>

<!--
<ion-content *ngIf="mode=='wait'">
  <div
    style="display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;flex-wrap:wrap;flex-direction: column">
    <h3 style="text-align: center">Trwa wyszukiwanie, proszę czekać...</h3>
    <ion-spinner style="width: 80px;height: 80px;"></ion-spinner>
  </div>

</ion-content>
-->
<ion-content *ngIf="mode=='miejsca'">
  <div class="container" id="container">
    <ng-container *ngIf="miejsca[0]?.nazwa.length <=0 else wyszukiwanie">
      <h4>Miejsca nie znaleziono w bazie danych</h4>
    </ng-container>

    <ng-template #wyszukiwanie>
      <table>
        <tr>
          <td><label>Nazwa:</label></td>
          <td><span>{{miejsca[miejsca.length - 1]?.nazwa}}</span></td>
        </tr>
        <tr>
          <td><label>Lokalizacja:</label></td>
          <td>
            <ion-button (click)="openModalPlace(miejsca[miejsca.length -1]?.id,'Lokalizacja miejsca')">
              <ion-icon name="help-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </table>
      <div class="elementImageDiv" *ngIf="miejsca[miejsca.length -1]?.toString().length>0">
        <label>Zdjęcie miejsca:</label>
        <img class="elementImage"
             [src]="'http://magazynapi.efennec.cfolks.pl/index.php/image/'+miejsca[miejsca.length -1]?.id_zdjecia">

      </div>

    </ng-template>

  </div>
</ion-content>

<ion-content *ngIf="mode=='element'">
  <div class="container">
    <ng-container *ngIf="element?.nazwa?.length <=0">
      <h4>Elementu nie znaleziono w bazie danych</h4>
    </ng-container>

    <ng-container *ngIf="element?.nazwa?.length > 0">
      <table class="tableColor">
        <tr>
          <td><label>Nazwa:</label></td>
          <td><span>{{element?.nazwa}}</span></td>
        </tr>
        <tr>
          <td><label>Nazwa orginalna:</label></td>
          <td *ngIf="element?.nazwa_oryginalna?.length > 0 else brak"><span>{{element?.nazwa_oryginalna}}</span></td>
        </tr>
        <tr>
          <td><label>Kategoria :</label></td>
          <td><span>{{element?.nazwa_kategorii}}</span></td>
        </tr>
        <tr>
          <td><label>Możliwość wyporzyczenia:</label></td>
          <td>
            <span *ngIf="element?.mozliwosc_wypozyczania == '0'">Nie</span>
            <span *ngIf="element?.mozliwosc_wypozyczania == '1'">Tak</span>
          </td>

        </tr>
        <tr>
          <td colspan="2">

            <div class="elementImageDiv" *ngIf="element?.id_zdjecia?.toString().length>0">
              <label>Zdjęcie elementu:</label>
              <img class="elementImage"
                   [src]="http.adresApi+'/image/'+element.id_zdjecia"
                   alt="Brak zdjęcia">

            </div>
          </td>
        </tr>


        <tr>
          <td><label>Lokalizacja podstawowa:</label>
          </td>
          <td *ngIf="element?.nazwa_miejsca_podstawowego?.length > 0 else brak"><span
            style="display: flex;align-items: center">
            <ion-button (click)="openModalPlace(element.id_lokalizacji_podstawowej,'Lokalizacja podstawowa')">
          <ion-icon name="help-outline"></ion-icon>
        </ion-button> &nbsp;&nbsp;&nbsp;
            {{element?.nazwa_miejsca_podstawowego}}</span>
          </td>
        </tr>
        <tr>
          <td><label>Lokalizacja tymczasowa:</label></td>
          <td *ngIf="element?.nazwa_lokalizacji?.length > 0 else brak">


            <span style="display: flex;align-items: center">


            <ion-button (click)="openModalPlace(element.lokalizacjaIdMiejsca,'Aktualna lokalizacja')">
              <ion-icon name="help-outline"></ion-icon>
            </ion-button>
                          &nbsp;&nbsp;&nbsp; {{element?.nazwa_lokalizacji}}
                     </span>
          </td>
        </tr>
        <tr>
          <td><label>Opis:</label></td>
          <td [ngClass]="{'tdWithButton':!displayDescription}">
            <ion-button (click)="displayDescription = !displayDescription" *ngIf="!displayDescription" color="success">
              Wyświetl
            </ion-button>

            <span><p *ngIf="displayDescription"> {{element?.opis}}</p></span></td>
        </tr>
      </table>
      <div style="width: 100%;height: 50px;background: transparent">

      </div>
    </ng-container>
  </div>
</ion-content>
<ng-template #brak>
  <td><span>- - - Brak - - -</span></td>
</ng-template>


<app-element-in-place-info [mode]="this.mode"
                           [setData]="modalID"
                           [title]="modalTitle"
                           [elementName]="element.nazwa"
                           [modalPlaceIsOpen]="modalPlaceIsOpen">
</app-element-in-place-info>



