<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="mode=='element'">Informacje na temat elementu:</ion-title>
    <ion-title *ngIf="mode=='miejsca'">Informacje na temat miejsca:</ion-title>
  </ion-toolbar>
</ion-header>


<ion-footer class="ion-no-border" style="display: flex;justify-content: center">

  <ion-tab-button (click)="_footer.getInfo()">
    <ion-icon name="eye-outline"></ion-icon>
    <ion-label>Zbadaj</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="_footer.ToMenu()" *ngIf="_api.tokenExist()">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Menu</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="_footer.ToLogin()" *ngIf="!_api.tokenExist()">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Logowanie</ion-label>
  </ion-tab-button>


</ion-footer>


<ion-content *ngIf="mode=='wait'">
  <div
    style="display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;flex-wrap:wrap;flex-direction: column">
    <h3 style="text-align: center">Trwa wyszukiwanie, proszę czekać...</h3>
    <ion-spinner style="width: 80px;height: 80px;"></ion-spinner>
  </div>

</ion-content>

<ion-content *ngIf="mode=='miejsca'">

  <ng-container *ngIf="miejsca[0]?.nazwa.length <=0 else wyszukiwanie">
    <h4>Miejsca nie znaleziono w bazie danych</h4>
  </ng-container>


  <table>
    <tr>
      <td><label>Nazwa:</label></td>
      <td><span>{{miejsca[0]?.nazwa}}</span></td>
    </tr>
  </table>


</ion-content>

<ion-content *ngIf="mode=='element'">
  <ng-container *ngIf="element?.nazwa.length <=0">
    <h4>Elementu nie znaleziono w bazie danych</h4>
  </ng-container>

  <ng-container *ngIf="element?.nazwa.length > 0">
    <table>
      <tr>
        <td><label>Nazwa:</label></td>
        <td><span>{{element?.nazwa}}</span></td>
      </tr>
      <tr>
        <td><label>Nazwa orginalna:</label></td>
        <td><span>{{element?.nazwa_orginalna}}</span></td>
      </tr>
      <tr>
        <td><label>Kategoria :</label></td>
        <td><span>{{element?.nazwa_kategorii}}</span></td>
      </tr>
      <tr>
        <td><label>Możliwość wyporzyczenia:</label></td>
        <td><span *ngIf="element?.mozliwosc_wypozyczania == 0">Nie</span>
          <span *ngIf="element?.mozliwosc_wypozyczania == 1">Tak</span></td>
      </tr>
    </table>
    <div class="elementImageDiv">
      <label>Zdjęcie elementu:</label>
      <img class="elementImage"
           src="https://www.creativehobby.pl/pol_pl_Wykrojnik-do-papieru-Krolik-Kroliczek-4-3x7-8-cm-36277_3.jpg">

    </div>
    <table>

      <tr>
        <td><label>Lokalizacja podstawowa:</label>
        </td>
        <td><span style="display: flex;align-items: center">{{element?.nazwaMiejscaPodstawowego}}&nbsp;&nbsp;&nbsp;
        <ion-button (click)="openModalPlace(element.id_lokalizacji_podstawowej)">
          <ion-icon name="help-outline"></ion-icon>
        </ion-button></span>

        </td>
      </tr>
      <tr>
        <td><label>Lokalizacja tymczasowa:</label></td>
        <td><span style="display: flex;align-items: center">{{element?.nazwaMiejsca}}&nbsp;&nbsp;&nbsp;
        <ion-button (click)="openModalPlace(element.lokalizacjaIdMijesca)">
          <ion-icon name="help-outline"></ion-icon>
      </ion-button></span></td>
      </tr>
      <tr>
        <td><label>Opis:</label></td>
        <td [ngClass]="{'tdWithButton':!displayDescription}">
          <ion-button (click)="displayDescription = !displayDescription" *ngIf="!displayDescription" color="success">
            Wyświetl
          </ion-button>

          <span><p *ngIf="displayDescription"> {{element?.opis}}</p></span></td>
      </tr>
    </table>
  </ng-container>

</ion-content>


<ion-modal
  [animated]="true"
  [isOpen]="modalPlaceIsOpen"
  [swipeToClose]="true">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-button (click)="modalPlaceIsOpen = false" color="success" style="float: right">
            Zamknij
          </ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-note class="ion-note-title" color="success">Lokalizacja miejsca</ion-note>
      <ion-list>
        <ion-item *ngFor="let x of miejsca; last as isLast">
          <ion-label>{{x.nazwa}}</ion-label>
          <ion-note class="arrow" slot="start">
            <ion-icon *ngIf="!isLast" name="arrow-down-outline"></ion-icon>
            <ion-icon *ngIf="isLast" name="cube-outline"></ion-icon>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label style="color:green">{{element.nazwa}}</ion-label>
          <ion-note class="arrow" slot="start">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </ion-note>

        </ion-item>
      </ion-list>

    </ion-content>

  </ng-template>
</ion-modal>
