<ion-footer collapse="fade" class="ion-no-border" style="display: flex;justify-content: center">

  <ion-tab-button (click)="footer.getInfo()">
    <ion-icon name="eye-outline"></ion-icon>
    <ion-label>Zbadaj</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="footer.back()"
                  *ngIf="footer.footerSetPage.getValue() == Page.nextHome ">
    <ion-icon name="arrow-back-outline"></ion-icon>
    <ion-label>Cofnij</ion-label>
  </ion-tab-button>


  <ion-tab-button (click)="footer.getRegisterPage()" *ngIf="footer.footerSetPage.getValue()== Page.login">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Rejestracja</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="footer.ToLogin()" *ngIf="footer.footerSetPage.getValue()== Page.register">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Logowanie</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="footer.tologOut()" *ngIf="footer.footerSetPage.getValue()== Page.home">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Wyloguj</ion-label>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>Informacje</ion-label>
  </ion-tab-button>
</ion-footer>
