<ion-header>
  <ion-toolbar>
    <ion-title>transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="state ===0">
    <div class="menu">
      <h3>Zeskanuj element:</h3>
      <button (click)="scanElement()" class="nextButton ">
        <ion-icon name="search-outline"></ion-icon>
        <ion-icon name="cube-outline"></ion-icon>

      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="state ===1">
    <div class="menu">
      <h3>Zeskanuj miejsce docelowe:</h3>
      <button (click)="scanTargetPlace()" class="nextButton ">
        <ion-icon name="search-outline"></ion-icon>
        <ion-icon name="earth-outline"></ion-icon>

      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="state ===2">
    <div class="menu">
      <h3>Podsumowanie:</h3>
      <table class="menuTable">
        <tr>
          <td>
            Nazwa elementu:
          </td>
          <td>
            {{element.nazwa}}
          </td>
        </tr>
        <tr>
          <td>
            Miejsce pierwotne:
          </td>
          <td>
            {{element.nazwaMiejsca}}
          </td>
        </tr>
        <tr>
          <td>
            Miejsce docelowe:
          </td>
          <td>
            {{miejsce?.nazwa}}
          </td>
        </tr>
      </table>
      <button (click)="accept()" class="nextButton ">
        <ion-icon name="checkmark-outline" style="color: green;"></ion-icon>
      </button>
    </div>
  </ng-container>
</ion-content>
