<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>
      <ion-icon name="logo-ionic"></ion-icon>
      </span>
      Połączenie z serwerem:

    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="loginBanner">
    <h1>Magazyn</h1>
    <img src="assets/boxNunus.png">
  </div>
  <div class="loginDiv" style="position: absolute">

    <table>
      <tr>
        <th colspan="2"><h1>Logowanie


        </h1></th>
      </tr>
      <tr>
        <td class="tdlabel"><label>Login:</label></td>
        <td><input [(ngModel)]="login" [ngClass]="{'bad':badLogin}" class="loginInput" type="email"></td>
      </tr>
      <tr>
        <td class="tdlabel"><label>Hasło:</label></td>
        <td><input [(ngModel)]="password" [ngClass]="{'bad':badPassword}" class="loginInput" type="password"></td>
      </tr>
      <tr>
        <td colspan="2">Zapamiętaj dane:&nbsp;&nbsp;&nbsp;<input [(ngModel)]="keedPass" type="checkbox"></td>
      </tr>
      <tr *ngIf="badPassword == true || badLogin == true">
        <td></td>
        <td class="loginButton"><span style="color:red">Popraw dane logowania</span></td>
      </tr>

      <tr>
        <td></td>
        <td class="loginButton"><input (click)="logIn()" type="button" value="Zaloguj"></td>
      </tr>
      <tr>
        <td></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td>&nbsp;</td>
      </tr>
      <tr *ngIf="false">
        <td></td>
        <td>
          <ion-button color="success" (click)="keedPass=true;login = 'mateuszAdmin@s.pwste.edu.pl';logIn()"
          >Daj mnie admina 😇
          </ion-button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>&nbsp;</td>
      </tr>
      <tr *ngIf="false">
        <td></td>
        <td>
          <ion-button color="success" (click)="keedPass=true;login = 'mateusz@s.pwste.edu.pl';logIn()"
          >Daj mnie użytkownika 😨
          </ion-button>
        </td>
      </tr>
    </table>

  </div>


</ion-content>

