<ion-header>
  <ion-toolbar>
    <ion-title>Logowanie do magazynu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-footer class="ion-no-border" style="display: flex;justify-content: center">

  <ion-tab-button (click)="_footer.getInfo()">
    <ion-icon name="eye-outline"></ion-icon>
    <ion-label>Zbadaj</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="_footer.getRegisterPage()">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Rejestracja</ion-label>
  </ion-tab-button>


  <ion-tab-button>
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>bla bla bla</ion-label>
  </ion-tab-button>
</ion-footer>


<ion-content>
  <div class="loginDiv">
    <table>
      <tr>
        <th colspan="2"><h1>Logowanie</h1></th>
      </tr>
      <tr>
        <td>Login:</td>
        <td><input [(ngModel)]="login" [ngClass]="{'bad':badLogin}" class="loginInput" type="email"></td>
      </tr>
      <tr>
        <td>Hasło:</td>
        <td><input [(ngModel)]="password" [ngClass]="{'bad':badPassword}" class="loginInput" type="password"></td>
      </tr>
      <tr>
        <td colspan="2">Zapamiętaj dane:&nbsp;&nbsp;&nbsp;<input [(ngModel)]="keedPass" type="checkbox"></td>
      </tr>
      <tr *ngIf="badPassword == true || badLogin == true">
        <td></td>
        <td class="loginButton"><span style="color:red">Popraw dane logowania</span></td>
      </tr>

      <tr>
        <td></td>
        <td class="loginButton"><input (click)="logIn()" type="button" value="Zaloguj"></td>
      </tr>
      <tr>
        <td></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <ion-button color="success" (click)="keedPass=true;login = 'mateuszAdmin@s.pwste.edu.pl';logIn()"
          >Daj mnie admina 😇
          </ion-button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <ion-button color="success" (click)="keedPass=true;login = 'mateusz@s.pwste.edu.pl';logIn()"
          >Daj mnie użytkownika 😨
          </ion-button>
        </td>
      </tr>
    </table>

  </div>


</ion-content>

