<ion-modal class="settings-modal"
           [animated]="true"
           [isOpen]="modalPlaceIsOpen"
           [swipeToClose]="true">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <h1>
            Zmiana hasła:
          </h1>
          <ion-button (click)="_footer.closeModalAndResetBackObserver()" color="success" style="float: right">
            Zamknij
          </ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <table style="width: 100%;">
        <tr>
          <th style="text-align: left">Podaj dane:</th>
        </tr>
        <tr>
          <td>

            <ion-item style="width: 100%;">
              <ion-label position="floating">Podaj nowe hasło</ion-label>
              <div style="display:flex;width: 100%;">
                <ion-input #password2 type="password" [(ngModel)]="user.haslo" style="width: 100%;"></ion-input>
                <ion-button size="small" (mousedown)="password2.type='text'" (mouseout)="password2.type='password'">
                  <ion-icon name="search-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </td>
        </tr>
        <tr>
          <td>

            <ion-item style="width: 100%;">
              <ion-label position="floating">Powtórz hasło</ion-label>
              <div style="display:flex;width: 100%;">
                <ion-input #password type="password" [(ngModel)]="user.haslo2" style="width: 100%;"></ion-input>
                <ion-button size="small" (mousedown)="password.type='text'" (mouseout)="password.type='password'">
                  <ion-icon name="search-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </td>
        </tr>
        <tr>
          <td style="color: red" *ngIf="!user.checkPasswordVal else empty">
            Podane hasła nie są jednakowe
          </td>
          <ng-template #empty>
            <td>
              &nbsp;
            </td>
          </ng-template>
        </tr>
        <tr>
          <td style="color: #a8a8a8">
            Wymagania hasła:
            <ul>
              <li [ngStyle]="{'color':user.bigReg}">Minimum 1 duża litera</li>
              <li [ngStyle]="{'color':user.smallReg}">Minimum 1 mała litera</li>
              <li [ngStyle]="{'color':user.numberReg}">Minimum 1 liczba</li>
              <li [ngStyle]="{'color':user.specialReg}">Minimum 1 znak specialny</li>
            </ul>
          </td>
        </tr>
        <tr>
          <br><br><br>
          <ion-button style="float: right" (click)="changePassword()" [disabled]="changePasswordButtonDisabled">
            Zmień hasło
          </ion-button>
        </tr>
      </table>

    </ion-content>

  </ng-template>
</ion-modal>
