.container {
  height: calc(100% - 100px);
}

.hireTableInfo {
  tr {
    td {
      &:first-child {
        padding-left: 5px;

      }

      &:last-child {
        padding-right: 5px;
      }

      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}

.hireListEndText {
  position: absolute;
  right: 137px;
  bottom: 16px;
}

.hireListOption {
  //margin-left: 10px;
}

.hireListNote {
  display: flex;
  align-items: center;
}
