<ion-header>
  <ion-toolbar>
    <ion-title>Historia moich wypożyczeń:</ion-title>
  </ion-toolbar>
</ion-header>
<ion-footer class="ion-no-border" style="display: flex;justify-content: center">
  <ion-tab-button (click)="_footer.back()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    <ion-label>Cofnij</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="_footer.getInfo()">
    <ion-icon name="eye-outline"></ion-icon>
    <ion-label>Zbadaj</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="_footer.ToMenu()">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Menu</ion-label>
  </ion-tab-button>
</ion-footer>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let hire of hireList | paginate: { itemsPerPage:10, currentPage: cp }" class="">
      <ion-label>
        <h2>
          {{hire.nazwa_elementu}}
        </h2>
        <p>
          <ion-icon name="enter-outline"></ion-icon>
          {{hire.od_kiedy| date:'y/LL/dd'}} &nbsp;&nbsp;
          <ion-icon name="exit-outline"></ion-icon>
          {{hire.kiedy_oddane | date:'y/LL/dd'}}</p>
      </ion-label>
      <ion-note class="hireListNote"
                [ngClass]="{'HireAlert': hire.timeToReturn() <= 3, 'HireWarning':hire.timeToReturn() > 3 && hire.timeToReturn() < 7}"
                slot="end">
        <ion-button (click)="openModal(hire)" color="tertiary" class="hireListOption">Informacje</ion-button>
      </ion-note>

    </ion-item>
  </ion-list>

  <pagination-controls (pageChange)="cp = $event"

                       class="pagpag"
                       maxSize="6"
                       nextLabel=""
                       previousLabel=""
  ></pagination-controls>
</ion-content>

<ion-modal
  [animated]="true"
  [isOpen]="modalPlaceIsOpen"
  [swipeToClose]="true">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <span style="padding-top: 8px;float: left;display: block">Opcje wypożyczenia:</span>
          <ion-button (click)="modalPlaceIsOpen = false" color="success" style="float: right">
            Zamknij
          </ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <table class="hireTableInfo">
        <tr>
          <td>Nazwa:</td>
          <td>{{selectedHireInModal?.nazwa_elementu}}</td>
        </tr>
        <tr>
          <td>Data wypożyczenia:</td>
          <td>{{selectedHireInModal?.od_kiedy}}</td>
        </tr>

        <tr>
          <td>Data oddania:</td>
          <td>{{selectedHireInModal?.kiedy_oddane | date:'y/LL/d, HH:mm'}}</td>
        </tr>
        <tr *ngIf="selectedHireInModal?.returnTimeExceeded() > 0">
          <td>Przekroczony czas oddania:</td>
          <td>{{selectedHireInModal?.returnTimeExceeded()}} dni</td>
        </tr>
        <tr>
          <td>Miejsce pobrania:</td>
          <td>{{selectedHireInModal?.nazwa_miejsca_przed}}</td>
        </tr>
        <tr>
          <td>Miejsce oddania:</td>
          <td>{{selectedHireInModal?.nazwa_miejsca_po}}</td>
        </tr>
      </table>


    </ion-content>

  </ng-template>
</ion-modal>
