<ion-header>
  <ion-toolbar>
    <ion-title>Historia moich wypożyczeń:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pociągnij aby odświeżyć"
      refreshingSpinner="circles"
      refreshingText="Odświeżanie...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="container hireHistoryNowList">
    <ion-list>
      <ion-item *ngFor="let hire of hireList | paginate: { itemsPerPage:10, currentPage: cp }" class="">
        <ion-label>
          <h2>
            {{hire.nazwa_elementu}}
          </h2>
          <p>
            <ion-icon name="enter-outline"></ion-icon>
            {{hire.od_kiedy| date:'y/LL/dd'}} &nbsp;&nbsp;
            <ng-container *ngIf="hire.potwierdzony == '1'">
              <ion-icon name="exit-outline"></ion-icon>
              {{hire.kiedy_oddane | date:'y/LL/dd'}}
            </ng-container>
          </p>
        </ion-label>
        <span class="hireListEndText" *ngIf="hire.potwierdzony === '-1'" style="color: #980f00;">
      Odrzucone
        </span>
        <span class="hireListEndText" *ngIf="hire.potwierdzony === '-2'" style="color: #797900;">
      Anulowane
        </span>
        <ion-note class="hireListNote"
                  [ngClass]="{'HireAlert': hire.timeToReturn() <= 3, 'HireWarning':hire.timeToReturn() > 3 && hire.timeToReturn() < 7}"
                  slot="end">
          <ion-button [disabled]="hire.potwierdzony != '1'" (click)="openModal(hire)" color="tertiary"
                      class="hireListOption">Informacje
          </ion-button>
        </ion-note>

      </ion-item>
    </ion-list>

    <pagination-controls (pageChange)="cp = $event"

                         class="pagpag"
                         [maxSize]="6"
                         nextLabel=""
                         previousLabel=""
    ></pagination-controls>
  </div>
</ion-content>

<ion-modal
  [animated]="true"
  [isOpen]="modalPlaceIsOpen"
  [swipeToClose]="true">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <span style="padding-top: 8px;float: left;display: block">Opcje wypożyczenia:</span>
          <ion-button (click)="_footer.closeModalAndResetBackObserver()" color="success" style="float: right">
            Zamknij
          </ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <table class="hireTableInfo">
        <tr>
          <td>Nazwa:</td>
          <td>{{selectedHireInModal?.nazwa_elementu}}</td>
        </tr>
        <tr>
          <td>Data wypożyczenia:</td>
          <td>{{selectedHireInModal?.od_kiedy}}</td>
        </tr>

        <tr>
          <td>Data oddania:</td>
          <td>{{selectedHireInModal?.kiedy_oddane | date:'y/LL/d, HH:mm'}}</td>
        </tr>
        <tr *ngIf="selectedHireInModal?.returnTimeExceeded() > 0">
          <td>Przekroczony czas oddania:</td>
          <td>{{selectedHireInModal?.returnTimeExceeded()}} dni</td>
        </tr>
        <tr>
          <td>Miejsce pobrania:</td>
          <td>{{selectedHireInModal?.nazwa_miejsca_przed}}</td>
        </tr>
        <tr>
          <td>Miejsce oddania:</td>
          <td>{{selectedHireInModal?.nazwa_miejsca_po}}</td>
        </tr>
      </table>


    </ion-content>

  </ng-template>
</ion-modal>
