ion-content {;
  --ion-background-color: var(--backgroundOwn);
  --background: var(--backgroundOwn);
}

* {
  --backgroundOwnColor: #414141;
  --backgroundOwn: #252525;
}

ion-footer {
  --backgroundOwnfooter: var(--backgroundOwnColor);
  --ion-background-color: var(--backgroundOwnfooter);
  --background: var(--backgroundOwnfooter);

  &.fotterBackGround {
    background: var(--backgroundOwnfooter);
  }

}

.ngx-pagination .current {
  background: #005d09 !important;
}
