<ion-header>
  <ion-toolbar>
    <ion-title>Wypożyczanie:</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class='container' id="panel1" *ngIf="state==1">

    <table class="tableInfo" style="width: 100%;">
      <tr>
        <td>
          Wybierz administratora upoważniejącego
        </td>
        <td *ngIf="!api.isAdmin()">
          <ion-item>
            <ion-select [(ngModel)]="selectedAdmin" [interfaceOptions]="optionsAdminList" interface="popover"
                        placeholder="Wybierz administratora">
              <ion-select-option *ngFor="let k of adminList"
                                 [value]="k.id">{{k.imie}} {{k.nazwisko}}</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
        <td *ngIf="api.isAdmin()">
          -------------
        </td>
      </tr>

      <tr>
        <td>
          Planowany czas wypożyczenia:
        </td>
        <td>
          <ion-item>
            <ion-select [(ngModel)]="hireTime" [interfaceOptions]="options" interface="popover"
                        placeholder="Wybierz czas">
              <ion-select-option value="31">1 miesiąc</ion-select-option>
              <ion-select-option value="7">1 tydzień</ion-select-option>
              <ion-select-option value="3">3 dni</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
      </tr>


      <tr>
        <td>
          Uwagi:
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <ion-textarea
            [(ngModel)]="opis"
            placeholder="Wpisz tutaj uwagi dostępne dla zarządzającego magazynem"
            rows="11"
            spellcheck="true" style="border:1px solid grey;width: 100%" wrap="soft"
          ></ion-textarea>

        </td>
      </tr>


    </table>
    <h3 style="color:#78c900;"> Kliknij na przycisk aby wypożyczyć:</h3>
    <button (click)="HireAccept()" *ngIf="elementID !== ''" class="ScanButton accept "
            [disabled]="!(selectedAdmin == 1 || api.isAdmin() == true)"
            style="margin-left: auto;margin-right: auto;font-size: 167px;">
      <ion-icon name="checkmark-outline"></ion-icon>
    </button>

  </div>
  <div class='container' id="panel2" *ngIf="state==2">

    <img src="assets/animation/lock/icons8-lock(1).gif" *ngIf="lock"
         style="position: absolute;top:5px;left:5px; width:100%">
    <img src="assets/animation/lock/icons8-lock(3).gif" *ngIf="unLock"
         style="position: absolute;top:1px;left:1px; width:100%">
  </div>
</ion-content>
