/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html, body, .ion-app, .ion-content {
  background-color: transparent !important;
}

ion-footer {
  background-color: #8a2500 !important;
}

.ion-header {
  ion-toolbar {
    --background: #8a2500 !important;
    // set icon/text color
    --color: #ffffff !important;
  }
}

.pagination-previous, .pagination-next {
  &.disabled {
    color: grey !important;

    a {
      color: grey !important;
    }
  }

  color: #5757ff !important;

  a {
    color: #5757ff !important;
  }

  color: #5757ff !important;
}

.ngx-pagination {
  li {
    a {
      color: white;

      &:hover {
        color: #5050ff;
        background: #b3b3b3;
      }
    }
  }
}

.container {
  //height: calc(100% - 50px);
  padding-bottom: 50px;
  width: 100%;
  float: left;

}

.ScanButton {
  border: 2px solid white;
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vw;
  font-size: 74px;

  span {
    font-size: 26px;
    padding-top: 17px;
  }

  ion-icon {
    &:first-child {
      margin-right: 5px;
    }
  }
}


.pagpag {
  width: 100%;
  background-color: #1e1e1e;
  display: block;
  float: left;
  text-align: center;
  padding-right: 34px;

  .pagination-next, .pagination-previous {
    a {
      color: red !important;

      &:hover {
        color: red;
        cursor: pointer;
      }
    }

  }
}

ion-toast.betterToast {
  z-index: 34434;
  --background: #F4F4FA;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: #4b4a50;
}

ion-toast.betterToast::part(container) {
  background-color: #676767;
}

ion-toast.betterToast::part(icon) {
  color: #1aff00;
  margin: 0;
  padding: 0;
  font-size: 35px;
}

ion-toast.betterToast::part(message) {
  font-style: italic;
  color: #ffffff;
  line-height: 1.2;
  border-right: 1px solid rgba(245, 245, 245, 0.4);
}

ion-toast.betterToast::part(button) {
  //border-left: 1px solid #d2d2d2;
  background: rgba(253, 253, 253, 0.11);
  color: #1aff00;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 1px 1px 1px 1px rgba(245, 245, 245, 0.4);
  //border: 1px solid rgba(245, 245, 245, 0.4);
  font-size: 15px;
}
