/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-footer {
  background-color: #8a2500 !important;
}

.ion-header {
  ion-toolbar {
    --background: #8a2500 !important;
    // set icon/text color
    --color: #ffffff !important;
  }
}

.pagination-previous, .pagination-next {
  &.disabled {
    color: grey !important;

    a {
      color: grey !important;
    }
  }

  color: #5757ff !important;

  a {
    color: #5757ff !important;
  }

  color: #5757ff !important;
}

.ngx-pagination {
  li {
    a {
      color: white;

      &:hover {
        color: #5050ff;
        background: #b3b3b3;
      }
    }
  }
}

.container {
  height: calc(100% - 50px);
}

.ScanButton {
  border: 2px solid white;
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vw;
  font-size: 74px;

  span {
    font-size: 26px;
    padding-top: 17px;
  }

  ion-icon {
    &:first-child {
      margin-right: 5px;
    }
  }
}


.pagpag {
  width: 100%;
  background-color: #1e1e1e;
  display: block;
  float: left;
  text-align: center;
  padding-right: 34px;

  .pagination-next, .pagination-previous {
    a {
      color: red !important;

      &:hover {
        color: red;
        cursor: pointer;
      }
    }

  }
}
