<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dostępne opcje:
      <ng-container *ngIf="_api.isAdmin()">(administrator)</ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer class="ion-no-border" style="display: flex;justify-content: center">

  <ion-tab-button (click)="getInfo()">
    <ion-icon name="eye-outline"></ion-icon>
    <ion-label>Zbadaj</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="logOut()">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Wyloguj</ion-label>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>Ustawienia</ion-label>
  </ion-tab-button>
</ion-footer>


<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button (click)="ToSearch()" color="light" class="icon">
      <ion-icon name="search-outline"></ion-icon>
      <label>Wyszukaj
      </label>
    </ion-button>
    <ion-button (click)="toHire()" color="light" class="icon">
      <ion-icon name="wallet-outline"></ion-icon>
      <label>Wypożyczenia</label>
    </ion-button>
    <ion-button (click)="toTransfer()" color="light" class="icon" *ngIf="_api.isAdmin();">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
      <label>Przenoszenia</label>
    </ion-button>
  </div>
</ion-content>
