.container {
  //padding-bottom: 0px !important;
}

#container {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .settigns {
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid #2a2a2a;

    ion-icon {
      font-size: 24px;
    }
  }

  .logOut {
    top: 8px;
    right: 8px;
    position: absolute;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid #2a2a2a;

    ion-icon {
      padding-left: 5px;
      font-size: 24px;
    }
  }

  .info {
    h1 {
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: 45px;
      //color: #1faf58;
      text-align: center;
    }

    h2 {
      //color: #1faf58;
      margin: 0;
      padding: 0;
      font-weight: normal;
      width: 100%;
      text-align: center;
      padding-bottom: 10px;

      // border-bottom: 1px solid #727272;
    }

    // padding-top: 20px;

    table {
      width: calc(100% - 20px);
      margin: 20px 10px 0 10px;

      tr {
        th {
          text-align: center;
          padding-bottom: 10px;
        }

        td {
          padding-bottom: 6px;

          &:nth-of-type(2) {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .menu {
    //: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    ion-button {
      box-shadow: none;
      //border: 2px solid white;
      width: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 31vw;
      margin: 0;
      $border-color: #727272;

      &:nth-child(odd) {
        border-right: 1px solid $border-color;
      }

      &:nth-child(even) {
        border-left: 0px solid $border-color;
      }

      &:nth-child(-n+2) {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }


    }
  }
}

.icon {

  position: relative;
  background-color: #242424;
  box-shadow: 1px 1px 3px 1px #606060;

  &:hover {
    background-color: #1a1a1a;
    cursor: pointer;
    color: #328a50;
  }

  label {
    position: absolute;
    bottom: 6px;
    font-size: 14px;
  }

  ion-icon {
    color: #1faf58;
    font-size: 74px;
    padding-bottom: 20px;
  }
}

.iconsdiv {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  position: relative;

  .help {
    right: 5px;
    font-size: 20px;
    top: 5px;
    position: absolute;
  }

  .box {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-icon {
      padding-bottom: 5px;
      font-size: 30px;
    }

    span {
      font-size: 30px;
      color: #008100;
      font-weight: bold;

    }
  }
}

h3 {
  text-align: center;
  margin: 0;
  padding: 7px 0 0 0;
  font-size: 20px;
  border-bottom: 2px dashed #457000;
  line-height: 0.1em;

  span {
    background: var(--ion-background-color);
    padding: 0 10px;
  }
}

h4 {
  margin: 10px 0 0 10px;

  height: 10px;
  padding: 7px 0 0 0;
  font-size: 15px;
  border-top: 2px dashed #375700;
  position: relative;
  text-align: center;

  span {
    text-align: center;
    position: relative;
    background: var(--ion-background-color);
    top: -18px
  }
}

.spacerUderNotify {
  border-top: 2px dashed #213100;
  width: 100%;
  float: left;
  height: 10px;
  margin-bottom: 10px;
}

.helpTable {
  width: 100%;

  tr {

    padding-bottom: 7px;


    &:not(:last-child) {
      border-bottom: 1px solid #7a7a7a;
    }

    td:first-child {
      padding-right: 10px;
      font-size: 20px;
      height: auto;
      padding-left: 5px;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      //padding-top: 7px;
    }

    td:last-child {
      font-size: 14px;
    }
  }
}
