
.ion-note-title {
  width: 100%;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 28px;
  background: var(--ion-item-background);
}

.arrow {
  font-size: 30px;
  color: white;
}

.lokalizacja_title {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
