<ion-header>
  <ion-toolbar>
    <ion-title>Rejestracja nowego konta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-footer class="ion-no-border" style="display: flex;justify-content: center">

  <ion-tab-button (click)="_footer.getInfo()">
    <ion-icon name="eye-outline"></ion-icon>
    <ion-label>Zbadaj</ion-label>
  </ion-tab-button>


  <ion-tab-button (click)="_footer.ToLogin()">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Logowanie</ion-label>
  </ion-tab-button>

  <!--
    <ion-tab-button>
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>bla bla bla</ion-label>
    </ion-tab-button>
    -->
</ion-footer>


<ion-content>
  <h2>&nbsp;Uzupełnij dane:</h2>
  <table style="width: 100%;">
    <tr>
      <td colspan="2">
        <ion-item>
          <ion-label position="floating">Imie</ion-label>
          <ion-input [(ngModel)]="user.imie" autocomplete="name"></ion-input>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-item>
          <ion-label position="floating">Nazwisko</ion-label>
          <ion-input [(ngModel)]="user.nazwisko" min="4"></ion-input>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="user.email" pattern="email" inputmode="email"></ion-input>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-item>
          <ion-label position="floating">Nr indeksu</ion-label>
          <ion-input [(ngModel)]="user.nr_indeksu"></ion-input>
        </ion-item>
      </td>
    </tr>


    <tr>
      <td colspan="2">
        <ion-item>
          <ion-label position="floating">Podaj hasło</ion-label>
          <div style="display:flex;width: 100%;">

            <ion-input #password type="password" [(ngModel)]="user.haslo"></ion-input>
            <ion-button size="small" (mousedown)="password.type='text'" (mouseout)="password.type='password'">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-item style="width: 100%;">
          <ion-label position="floating">Powtórz hasło</ion-label>
          <div style="display:flex;width: 100%;">

            <ion-input #password2 type="password" [(ngModel)]="user.haslo2" style="width: 100%;"></ion-input>
            <ion-button size="small" (mousedown)="password2.type='text'" (mouseout)="password2.type='password'">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td style="float: right;margin: 20px">
        <ion-button color="success" (click)="register()">Zarejestruj</ion-button>
      </td>
    </tr>
  </table>
</ion-content>

