<ion-header>
  <ion-toolbar>
    <ion-title>Rejestracja nowego konta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h2>&nbsp;Uzupełnij dane:</h2>
  <table style="width: 100%;">
    <tr>
      <td colspan="2">
        <ion-item [ngClass]="{'badInput':!user.imieGood}">
          <ion-label position="floating">Imie</ion-label>
          <ion-input [(ngModel)]="user.imie" autocomplete="name"></ion-input>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-item [ngClass]="{'badInput':!user.nazwiskoGood}">
          <ion-label position="floating">Nazwisko</ion-label>
          <ion-input [(ngModel)]="user.nazwisko" min="4"></ion-input>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-item [ngClass]="{'badInput':!user.emailGood}">
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="user.email" inputmode="email"></ion-input>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-item [ngClass]="{'badInput':!user.nr_indeksuGood}">
          <ion-label position="floating">Nr indeksu</ion-label>
          <ion-input [(ngModel)]="user.nr_indeksu"></ion-input>
        </ion-item>
      </td>
    </tr>


    <tr>
      <td colspan="2">
        <ion-item [ngClass]="{'badInput':!user.hasloGood}">
          <ion-label position="floating">Podaj hasło</ion-label>
          <div style="display:flex;width: 100%;">

            <ion-input #password type="password" [(ngModel)]="user.haslo"></ion-input>
            <ion-button size="small" (mousedown)="password.type='text'" (mouseout)="password.type='password'">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-item style="width: 100%;" [ngClass]="{'badInput':!user.haslo2Good}">
          <ion-label position="floating">Powtórz hasło</ion-label>
          <div style="display:flex;width: 100%;">

            <ion-input #password2 type="password" [(ngModel)]="user.haslo2" style="width: 100%;"></ion-input>
            <ion-button size="small" (mousedown)="password2.type='text'" (mouseout)="password2.type='password'">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="color: red" *ngIf="!user.checkPasswordVal">
        Podane hasła nie są jednakowe
      </td>
    </tr>
    <tr>
      <td colspan="2" style="color: #a8a8a8">
        Wymagania hasła:
        <ul>
          <li [ngStyle]="{'color':user.bigReg}">Minimum 1 duża litera</li>
          <li [ngStyle]="{'color':user.smallReg}">Minimum 1 mała litera</li>
          <li [ngStyle]="{'color':user.numberReg}">Minimum 1 liczba</li>
          <li [ngStyle]="{'color':user.specialReg}">Minimum 1 znak specialny</li>

        </ul>
      </td>
    </tr>
    <tr>
      <td style="float: right;margin: 20px">
        <ion-button color="success" (click)="register()">Zarejestruj</ion-button>
      </td>
    </tr>
  </table>
</ion-content>

