<ion-header>
  <ion-toolbar>
    <ion-title>Ustawienia aplikacji</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="changeProfil.open()">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      Dane konta
    </ion-item>
    <ion-item button (click)="changePassword.open()">
      <ion-icon slot="start" name="sync-outline"></ion-icon>
      Zmień hasło
    </ion-item>
    <ion-item button (click)="information.open()">
      <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
      Informacje
    </ion-item>
    <ion-item button (click)="dezactiveAccount()">
      <ion-icon slot="start" name="close-outline"></ion-icon>
      Dezaktywuj konto
    </ion-item>
  </ion-list>
  <a target="_blank" href="https://icons8.com/icon/3SQkEgwUAzDE/lock">Lock</a> icon by <a target="_blank"
                                                                                          href="https://icons8.com">Icons8</a>
</ion-content>


<app-change-password #changePassword></app-change-password>
<app-change-profil #changeProfil></app-change-profil>
<app-settings-information #information></app-settings-information>

