<ion-header>
  <ion-toolbar>
    <ion-title>Ustawienia aplikacji</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      Zmień dane
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="sync-outline"></ion-icon>
      Zmień hasło
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="information-circle"></ion-icon>
      Informacje
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="information-outline"></ion-icon>
      Informacje
    </ion-item>
  </ion-list>
</ion-content>
